@font-face {
    font-family: 'honey';
    src: url('../font/ananda_2/Ananda\ Black\ Personal\ Use.ttf');
}

.font {
    font-family: 'honey';
    font-size: 23px;
    color: #F86666;
    letter-spacing: 2px;
}

.items-menu {
    font-family: 'honey';
    font-size: 17px;
    color: #F86666;
    letter-spacing: 2px;    
}

.category-title {
    font-family: 'honey';
    font-size: 27px;
    color: #F86666;
    letter-spacing: 2px;    
}

.border-category {

    height: 40px;

    border-top: 1px solid #F86666;
    border-right: none;
    border-bottom: 1px solid #F86666;
    border-left: none;
}

.list-x {
    overflow-x: scroll;
}

.list-x::-webkit-scrollbar {
    height: 3px;
}
.list-x::-webkit-scrollbar-thumb {
    background-color: #F86666;
}

.list-product {
    list-style: none;
}

.img-sm-product {
    max-height: 340px;
    min-height: 340px;
}

.btn-modal-close {
    color: #F86666;
}

.footer {
    background-color: #F86666;
    color: white;
}

.button-redes {
    background-color: white;

    border-radius: 0;
}
.button-redes:hover {
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #F86666;
    border-left: none;
}

.cor {
    color: #F86666;
}

.input-border {
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #F86666;
    border-left: none;

    border-radius: 0;
}

.input {    
    color: #F86666;
    font-size: 13px;
}

.check-per {
    color: #F86666;
}
.input::placeholder {
    color: #F86666;
    font-size: 15px;
}
.input:hover {
    letter-spacing: 2px;
    transition: 1s;
}
.paragrafo {
    color: #F86666;
    font-family: 'honey';
}
.links {
    color: #F86666;
    text-decoration: underline;
    font-size: 16px;
}
.active {
    text-decoration: underline;
}
.list-category:hover {
    cursor: pointer;
    text-decoration: underline;
}